# Sadhana Staging Backend Credentials
# Copy this file to .env.staging and configure as necessary

EXPO_PUBLIC_SUPABASE_URL=https://iwwziupfwytlbdlehgoh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3d3ppdXBmd3l0bGJkbGVoZ29oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MjUzNjMsImV4cCI6MjA5NzIwMTM2M30.L0kqH4R2gsgOZ24U0bGBilIVaqXO_KEECBPDw-g2VNg
